﻿
@model Modelo.Entidades.SystemUser
@{
    ViewBag.Title = "Home";
}

<div class="col-md-4">
    <h2>Bienvenido</h2>
</div>

<div class="row">
    @if (Session["LoginUser"] == null)
    {
        <div class="col-md-6">
            @using (Html.BeginForm("Login", "Home", null, FormMethod.Post, new { Id = "FormLogin" }))
                {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Clave, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (Session["Login"] != null)
                    {
                        <span class="text-danger">@Session["Login"].ToString()</span>
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Iniciar Sesion" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
