﻿@model IEnumerable<Modelo.Entidades.Herramienta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Herramientas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Serial }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Detalle", "Detalle", new { id=item.Serial }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Serial }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Nueva herramienta", "Crear", null, new { @class = "btn btn-default" })
</p>

<div style="padding:10px; border:1px solid black; border-radius:5px">
    <div><a href="@Url.Action("Report",new {id= "Excel"})"> Generar Reporte </a></div>
</div>


