﻿@model IEnumerable<Modelo.Entidades.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Cedula }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Detalle", "Detalle", new { id = item.Cedula }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Cedula }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Nuevo empleado", "Crear", null, new { @class = "btn btn-default" })
</p>

<div style="padding:10px; border:1px solid black; border-radius:5px">
    <div><a href="@Url.Action("Report",new {id= "Excel"})"> Generar Reporte </a></div>
</div>

