﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Practica</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/img/Untitled-1.png" style="max-width:140px; height:auto; margin-top: 5%;"/>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    @if (Session["LoginUser"] != null)
                    {
                        @Html.ActionLink("Empleados", "Index", "Empleado", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Herramientas", "Index", "Herramienta", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Prestamos", "Index", "Prestamo", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Finalizar Sesion", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 1 - Practica</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>