﻿@model Modelo.Entidades.Prestamo

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial_Herramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial_Herramienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Prestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Prestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdPrestamo }, new { @class = "btn btn-default" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>
