﻿@model Modelo.Entidades.Prestamo

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este prestamo?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial_Herramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial_Herramienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Prestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Prestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
