﻿@model IEnumerable<Modelo.Entidades.Prestamo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prestamos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="display:flex">
        <input name="serialParaBuscar" type="number" class="form-control" />
        <input type="submit" value="Buscar" class="btn btn-default" />
        @Html.ActionLink("Limpiar Busqueda", "Index", null, new { @class = "btn btn-default" })
    </div>
}

@Html.Raw(TempData["msg"])

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial_Herramienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Herramienta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Prestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Devolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial_Herramienta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Herramienta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Prestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Devolucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.ActionLink("Devolucion", "Devolucion", new { id = item.IdPrestamo }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdPrestamo }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = item.IdPrestamo }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdPrestamo }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Registrar prestamo", "Crear", null, new { @class = "btn btn-default" })
</p>

<div style="padding:10px; border:1px solid black; border-radius:5px">
    <div><a href="@Url.Action("Report",new {id= "Excel"})"> Generar Reporte </a></div>
</div>
